LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

// inputs

LOCATE COMP "dip" SITE "E14";
INPUT PORT "dip" IO_TYPE=LVCMOS33;

LOCATE COMP "btnR" SITE "D10";
INPUT PORT "btnR" IO_TYPE=LVCMOS33;

LOCATE COMP "btnG" SITE "C9";
INPUT PORT "btnG" IO_TYPE=LVCMOS33;


// outputs 
LOCATE COMP "seg7[7]" SITE "D9"; // DP
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[6]" SITE "C5"; // A
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "C6"; // B
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "C7"; // C
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "C8"; // D
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "D6"; // E
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "D7"; // F
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[0]" SITE "D8"; // G
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;



LOCATE COMP "Red" SITE "B11"; // Red LED
IOBUF PORT "Red" IO_TYPE=LVCMOS33;

LOCATE COMP "Green" SITE "A11"; // Green LED
IOBUF PORT "Green" IO_TYPE=LVCMOS33;
